In [28]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from datetime import datetime, timedelta

In [29]:
data = pd.read_csv("/Users/alexanderkell/Documents/PhD/Projects/18-battery-optimisation/data/processed/2012-2013-solar-electricity-data.csv")
data['datetime'] = pd.to_datetime(data['datetime'])
data

,Unnamed: 0,Customer,Generator Capacity,Postcode,Consumption Category,date,time,consumption,datetime
0,0,1,3.78,2076,controlled_load_consumption,1/07/2012,0:30,1.250,2012-01-07 00:30:00
1,1,1,3.78,2076,general_electricity_consumption,1/07/2012,0:30,0.855,2012-01-07 00:30:00
2,2,1,3.78,2076,solar_generation,1/07/2012,0:30,0.000,2012-01-07 00:30:00
3,3,1,3.78,2076,controlled_load_consumption,2/07/2012,0:30,1.250,2012-02-07 00:30:00
4,4,1,3.78,2076,general_electricity_consumption,2/07/2012,0:30,0.309,2012-02-07 00:30:00
...,...,...,...,...,...,...,...,...,...
461371,12631786,9,1.02,2259,general_electricity_consumption,29/06/2013,0:00,0.192,2013-06-29 00:00:00
461372,12631787,9,1.02,2259,solar_generation,29/06/2013,0:00,0.000,2013-06-29 00:00:00
461373,12631788,9,1.02,2259,controlled_load_consumption,30/06/2013,0:00,0.003,2013-06-30 00:00:00
461374,12631789,9,1.02,2259,general_electricity_consumption,30/06/2013,0:00,0.067,2013-06-30 00:00:00
461375,12631790,9,1.02,2259,solar_generation,30/06/2013,0:00,0.000,2013-06-30 00:00:00

In [30]:
data['quarter'] = data.datetime.dt.quarter
data['month'] = data.datetime.dt.month
data['year'] = data.datetime.dt.year
data['week'] = data.datetime.dt.week
data

,Unnamed: 0,Customer,Generator Capacity,Postcode,Consumption Category,date,time,consumption,datetime,quarter,month,year,week
0,0,1,3.78,2076,controlled_load_consumption,1/07/2012,0:30,1.250,2012-01-07 00:30:00,1,1,2012,1
1,1,1,3.78,2076,general_electricity_consumption,1/07/2012,0:30,0.855,2012-01-07 00:30:00,1,1,2012,1
2,2,1,3.78,2076,solar_generation,1/07/2012,0:30,0.000,2012-01-07 00:30:00,1,1,2012,1
3,3,1,3.78,2076,controlled_load_consumption,2/07/2012,0:30,1.250,2012-02-07 00:30:00,1,2,2012,6
4,4,1,3.78,2076,general_electricity_consumption,2/07/2012,0:30,0.309,2012-02-07 00:30:00,1,2,2012,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
461371,12631786,9,1.02,2259,general_electricity_consumption,29/06/2013,0:00,0.192,2013-06-29 00:00:00,2,6,2013,26
461372,12631787,9,1.02,2259,solar_generation,29/06/2013,0:00,0.000,2013-06-29 00:00:00,2,6,2013,26
461373,12631788,9,1.02,2259,controlled_load_consumption,30/06/2013,0:00,0.003,2013-06-30 00:00:00,2,6,2013,26
461374,12631789,9,1.02,2259,general_electricity_consumption,30/06/2013,0:00,0.067,2013-06-30 00:00:00,2,6,2013,26
461375,12631790,9,1.02,2259,solar_generation,30/06/2013,0:00,0.000,2013-06-30 00:00:00,2,6,2013,26

In [31]:
for customer, dat in data.groupby(["Customer", 'month', "year"]):
    print(customer)
    print(dat.month.count())

(1, 1, 2012)
864
(1, 1, 2013)
3600
(1, 2, 2012)
864
(1, 2, 2013)
3168
(1, 3, 2012)
864
(1, 3, 2013)
3600
(1, 4, 2012)
864
(1, 4, 2013)
3456
(1, 5, 2012)
864
(1, 5, 2013)
3600
(1, 6, 2012)
864
(1, 6, 2013)
3456
(1, 7, 2012)
3600
(1, 7, 2013)
864
(1, 8, 2012)
3600
(1, 8, 2013)
864
(1, 9, 2012)
3456
(1, 9, 2013)
864
(1, 10, 2012)
3600
(1, 10, 2013)
864
(1, 11, 2012)
3456
(1, 11, 2013)
864
(1, 12, 2012)
3600
(1, 12, 2013)
864
(2, 1, 2012)
576
(2, 1, 2013)
3600
(2, 2, 2012)
576
(2, 2, 2013)
3168
(2, 3, 2012)
576
(2, 3, 2013)
3600
(2, 4, 2012)
576
(2, 4, 2013)
3456
(2, 5, 2012)
576
(2, 5, 2013)
3600
(2, 6, 2012)
576
(2, 6, 2013)
3456
(2, 7, 2012)
3312
(2, 7, 2013)
864
(2, 8, 2012)
3312
(2, 8, 2013)
864
(2, 9, 2012)
3168
(2, 9, 2013)
864
(2, 10, 2012)
576
(2, 10, 2013)
864
(2, 11, 2012)
576
(2, 11, 2013)
864
(2, 12, 2012)
432
(2, 12, 2013)
864
(3, 1, 2012)
864
(3, 1, 2013)
3600
(3, 2, 2012)
864
(3, 2, 2013)
3168
(3, 3, 2012)
864
(3, 3, 2013)
3600
(3, 4, 2012)
864
(3, 4, 2013)
3456
(3, 5, 2012)
864
(3, 5, 2013)
3600
(3, 6, 2012)
864
(3, 6, 2013)
3456
(3, 7, 2012)
3600
(3, 7, 2013)
864
(3, 8, 2012)
3600
(3, 8, 2013)
864
(3, 9, 2012)
3456
(3, 9, 2013)
864
(3, 10, 2012)
3600
(3, 10, 2013)
864
(3, 11, 2012)
3456
(3, 11, 2013)
864
(3, 12, 2012)
3600
(3, 12, 2013)
864
(4, 1, 2012)
864
(4, 1, 2013)
3600
(4, 2, 2012)
864
(4, 2, 2013)
3168
(4, 3, 2012)
864
(4, 3, 2013)
3600
(4, 4, 2012)
864
(4, 4, 2013)
3456
(4, 5, 2012)
864
(4, 5, 2013)
3600
(4, 6, 2012)
864
(4, 6, 2013)
3456
(4, 7, 2012)
3600
(4, 7, 2013)
864
(4, 8, 2012)
3600
(4, 8, 2013)
864
(4, 9, 2012)
3456
(4, 9, 2013)
864
(4, 10, 2012)
3600
(4, 10, 2013)
864
(4, 11, 2012)
3456
(4, 11, 2013)
864
(4, 12, 2012)
3600
(4, 12, 2013)
864
(5, 1, 2012)
864
(5, 1, 2013)
3600
(5, 2, 2012)
864
(5, 2, 2013)
3168
(5, 3, 2012)
864
(5, 3, 2013)
3600
(5, 4, 2012)
864
(5, 4, 2013)
3456
(5, 5, 2012)
864
(5, 5, 2013)
3600
(5, 6, 2012)
864
(5, 6, 2013)
3456
(5, 7, 2012)
3600
(5, 7, 2013)
864
(5, 8, 2012)
3600
(5, 8, 2013)
864
(5, 9, 2012)
3456
(5, 9, 2013)
864
(5, 10, 2012)
3600
(5, 10, 2013)
864
(5, 11, 2012)
3456
(5, 11, 2013)
864
(5, 12, 2012)
3600
(5, 12, 2013)
864
(6, 1, 2012)
864
(6, 1, 2013)
3600
(6, 2, 2012)
864
(6, 2, 2013)
3168
(6, 3, 2012)
864
(6, 3, 2013)
3600
(6, 4, 2012)
864
(6, 4, 2013)
3456
(6, 5, 2012)
864
(6, 5, 2013)
3600
(6, 6, 2012)
864
(6, 6, 2013)
3456
(6, 7, 2012)
3600
(6, 7, 2013)
864
(6, 8, 2012)
3600
(6, 8, 2013)
864
(6, 9, 2012)
3456
(6, 9, 2013)
864
(6, 10, 2012)
3600
(6, 10, 2013)
864
(6, 11, 2012)
3456
(6, 11, 2013)
864
(6, 12, 2012)
3600
(6, 12, 2013)
864
(7, 1, 2012)
864
(7, 1, 2013)
3600
(7, 2, 2012)
864
(7, 2, 2013)
3168
(7, 3, 2012)
864
(7, 3, 2013)
3600
(7, 4, 2012)
864
(7, 4, 2013)
3456
(7, 5, 2012)
864
(7, 5, 2013)
3600
(7, 6, 2012)
864
(7, 6, 2013)
3456
(7, 7, 2012)
3600
(7, 7, 2013)
864
(7, 8, 2012)
3600
(7, 8, 2013)
864
(7, 9, 2012)
3456
(7, 9, 2013)
864
(7, 10, 2012)
3600
(7, 10, 2013)
864
(7, 11, 2012)
3456
(7, 11, 2013)
864
(7, 12, 2012)
3600
(7, 12, 2013)
864
(8, 1, 2012)
864
(8, 1, 2013)
3600
(8, 2, 2012)
864
(8, 2, 2013)
3168
(8, 3, 2012)
864
(8, 3, 2013)
3600
(8, 4, 2012)
864
(8, 4, 2013)
3456
(8, 5, 2012)
864
(8, 5, 2013)
3600
(8, 6, 2012)
864
(8, 6, 2013)
3456
(8, 7, 2012)
3600
(8, 7, 2013)
864
(8, 8, 2012)
3600
(8, 8, 2013)
864
(8, 9, 2012)
3456
(8, 9, 2013)
864
(8, 10, 2012)
3600
(8, 10, 2013)
864
(8, 11, 2012)
3456
(8, 11, 2013)
864
(8, 12, 2012)
3600
(8, 12, 2013)
864
(9, 1, 2012)
864
(9, 1, 2013)
3600
(9, 2, 2012)
864
(9, 2, 2013)
3168
(9, 3, 2012)
864
(9, 3, 2013)
3600
(9, 4, 2012)
864
(9, 4, 2013)
3456
(9, 5, 2012)
864
(9, 5, 2013)
3600
(9, 6, 2012)
864
(9, 6, 2013)
3456
(9, 7, 2012)
3600
(9, 7, 2013)
864
(9, 8, 2012)
3600
(9, 8, 2013)
864
(9, 9, 2012)
3456
(9, 9, 2013)
864
(9, 10, 2012)
3600
(9, 10, 2013)
864
(9, 11, 2012)
3456
(9, 11, 2013)
864
(9, 12, 2012)
3600
(9, 12, 2013)
864

In [32]:
data_2013 = data[data.year==2013]
print(data_2013.datetime.min())
print(data_2013.datetime.max())

2013-01-01 00:00:00
2013-12-06 23:30:00

In [33]:
deltas = data_2013[(data_2013['Consumption Category']=="solar_generation") & (data_2013['Customer']==1)].sort_values("datetime")['datetime'].diff()

gaps = deltas[deltas > timedelta(days=1)]


print(f'{len(gaps)} gaps with average gap duration: {gaps.mean()}')
for i, g in gaps.iteritems():
    gap_start = data_2013['datetime'][i - 1]
    print(f'Start: {datetime.strftime(gap_start, "%Y-%m-%d")} | '
          f'Duration: {str(g.to_pytimedelta())}')

11 gaps with average gap duration: 14 days 11:24:32.727272
Start: 2013-01-13 | Duration: 6 days, 0:30:00
Start: 2013-02-13 | Duration: 6 days, 0:30:00
Start: 2013-03-13 | Duration: 6 days, 0:30:00
Start: 2013-04-13 | Duration: 6 days, 0:30:00
Start: 2013-05-13 | Duration: 6 days, 0:30:00
Start: 2013-06-13 | Duration: 6 days, 0:30:00
Start: 2013-08-01 | Duration: 25 days, 0:30:00
Start: 2013-09-01 | Duration: 25 days, 0:30:00
Start: 2013-10-01 | Duration: 24 days, 0:30:00
Start: 2013-11-01 | Duration: 25 days, 0:30:00
Start: 2013-12-01 | Duration: 24 days, 0:30:00

In [64]:
counted_weeks = data_2013.groupby("week").count() == 9072
counted_weeks_week_no = counted_weeks[counted_weeks.Customer == True].index

full_weeks = full_weeks[full_weeks["week"].isin(counted_weeks_week_no)]
full_weeks.groupby("week").count()

,Unnamed: 0,Customer,Generator Capacity,Postcode,Consumption Category,date,time,consumption,datetime,quarter,month,year
week,,,,,,,,,,,,
3,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
4,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
5,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
8,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
9,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
12,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
13,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
16,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
17,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
18,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
20,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
21,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
22,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
25,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072
26,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072,9072

In [66]:
pd.unique(full_weeks.month)

array([2, 3, 5, 6, 1, 4])

In [67]:
full_weeks.to_csv("/Users/alexanderkell/Documents/PhD/Projects/18-battery-optimisation/data/interim/full_week")

,Unnamed: 0,Customer,Generator Capacity,Postcode,Consumption Category,date,time,consumption,datetime,quarter,month,year,week
555,555,1,3.78,2076,controlled_load_consumption,2/01/2013,0:30,0.000,2013-02-01 00:30:00,1,2,2013,5
556,556,1,3.78,2076,general_electricity_consumption,2/01/2013,0:30,0.140,2013-02-01 00:30:00,1,2,2013,5
557,557,1,3.78,2076,solar_generation,2/01/2013,0:30,0.000,2013-02-01 00:30:00,1,2,2013,5
558,558,1,3.78,2076,controlled_load_consumption,3/01/2013,0:30,0.000,2013-03-01 00:30:00,1,3,2013,9
559,559,1,3.78,2076,general_electricity_consumption,3/01/2013,0:30,0.250,2013-03-01 00:30:00,1,3,2013,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
461371,12631786,9,1.02,2259,general_electricity_consumption,29/06/2013,0:00,0.192,2013-06-29 00:00:00,2,6,2013,26
461372,12631787,9,1.02,2259,solar_generation,29/06/2013,0:00,0.000,2013-06-29 00:00:00,2,6,2013,26
461373,12631788,9,1.02,2259,controlled_load_consumption,30/06/2013,0:00,0.003,2013-06-30 00:00:00,2,6,2013,26
461374,12631789,9,1.02,2259,general_electricity_consumption,30/06/2013,0:00,0.067,2013-06-30 00:00:00,2,6,2013,26
461375,12631790,9,1.02,2259,solar_generation,30/06/2013,0:00,0.000,2013-06-30 00:00:00,2,6,2013,26